*{
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $body;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 23px;
    color: $h2;
    text-decoration: overline;
    padding-top: 25px;
    padding-bottom: 7px;
}

h3 {
    padding-top: 10px;
    padding-bottom: 5px;
}

header {
    font-size: large;
    justify-content: center;
    height: 60px;
    background-color: $hfn;
}

footer {
    padding: 3px;
    background-color: $hfn;
    margin-top: 1.5em;
    height: 190px;
}

.footerp {
    grid-area: footerp;
    font-style: italic;
    padding: 5px;
}

.footerp p {
    font-size: 20px;
    text-decoration: underline;
}

.linkedini {
    grid-area: linkedini;

}

.linkedinp {
    grid-area: linkedinp;
}

.maili {
    grid-area: maili;
}

.mailp {
    grid-area: mailp;
}

.telefonoi {
    grid-area: telefonoi;
}

.telefonop {
    grid-area: telefonop;
}

.footerContacto {
    align-items: center;
    display: grid;
    grid-template-areas: 
    "footerp none"
    "linkedini linkedinp"
    "maili mailp"
    "telefonoi telefonop"
}

.foto {
    grid-area: foto;
    text-align: center;
    image-rendering: auto;
}

.envoltura, .envoltura-acerca, .envoltura-formacion, .envoltura-intereses, .envoltura-experiencia {
    color: white;
    background-color: $envoltura;
    margin-top: 1.5em;
    min-height: calc(100vh - 60px - 190px);
    padding: 5px;
}

.linkedinp, .mailp, .telefonop {
    font-weight: bold;
}

.linkedinp {
    display: flex;
    text-align: center;
}

.linkedini, .maili, .telefonoi {
    display: flex;
    justify-content: right;
}

@mixin icon-car($width, $height, $margin) {
    width: $width;
    height: $height;
    margin: $margin;
}

.icono {
    @include icon-car(30px, 30px, 5px);
}

.fotoCV {
    width: 188px;
    height: 250px;
    border: 3px solid black;
}

@media (min-width: 480px) {
    header, footer {
        margin: 5px;
    }

    footer {
        height: 230px;
    }

    .fotoCV {
        width: 301px;
        height: 400px;
    }

    .footerp {
        display: flex;
        justify-content: center;
    }

    .footerContacto {
        gap: 8px;
    }

    a {
        font-size: 20px;
    }
    
    p {
        font-size: 20px;
    }

    .footerp p, h2 {
        font-size: 26px;
    }

    .footerp p {
        text-decoration: underline;
    }

    .icono {
        @include icon-car(35px, 35px, 5px);
    }
}

@media (min-width: 768px) {    
    .footerContacto {
        display: grid;
        grid-template-areas: 
        "linkedini linkedinp maili mailp"
        ". telefonoi telefonop ."
        ;
        
    }

    .icono {
        height: 50px;
        width: 50px;
    }

    .texto {
        grid-area: texto;
    }

    .foto {
        margin: 5px;
        grid-area: foto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .texto-index {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        "texto foto"
        ;
    }
    
    h1 {
        font-size: 37px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
    }

    .envoltura p, .envoltura a, .envoltura-acerca p, .envoltura-formacion p, .envoltura-experiencia p, .envoltura-intereses p {
        font-size: 25px;
    }

    .footerp p {
        font-size: 33px;
        text-decoration: underline;
    }

    .icono:hover {
        transform: rotate(360deg);
        transition-duration: 1s;
    }
}

@media (min-width: 992px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 110px;
    }
}

@media (min-width: 1024px) {
    .footerp p {
        text-decoration: underline;
    }
    
    .footerContacto {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .linkedini, .maili, .telefonoi {
        display: flex;
        justify-content: right;
    }

    .linkedinp, .mailp {
        margin-right: 50px;
    }

    .texto-index {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-areas:
        "texto foto"
        ;
    }

    .fotoCV:hover {
        transform: scale(1.1);
        transition-duration: 2s;
    }

    h1 {
        font-size: 45px;
    }

    footer {
        height: 180px;
    }

    .texto {
        margin: 10px;
    }
}
