nav {
    background-color: $hfn;
    li {
        padding: 5px;
        ul {
            list-style-type: none;
        }
    }        
}


@media (min-width: 768px) {    
    .aNav {
        padding: 4px;
        border: solid 2px black;
    }

    .aNav:hover {
        background-color: rgba(0, 0, 0, 0.095);
        color: white;
    }
}

@media (min-width: 992px) {
    .navbar a {
        font-size: 27px;
    }

    ul {
        display: flex;
        justify-self: center;
    }
}

@media (min-width: 1024px) {
    .aNav:hover {
        transition-duration: 0.5s;
    }
}