@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(161, 161, 161);
}

header {
    font-size: large;
    justify-content: center;
    background-color: #B8C7F2;
    height: 60px;
}

nav ul li {
    list-style-type: none;
}

.navbar {
    background-color: #B8C7F2;
}

nav, li {
    padding: 3px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 23px;
    color: rgb(223, 223, 223);
    text-decoration: overline;
    padding-top: 25px;
    padding-bottom: 7px;
}

h3 {
    padding-top: 10px;
    padding-bottom: 5px;
}

footer {
    padding: 3px;
    background-color: #B8C7F2;
    margin-top: 1.5em;
    height: 190px;

}

.footerp {
    grid-area: footerp;
    font-style: italic;
    padding: 5px;
}

.footerp p {
    font-size: 20px;
    text-decoration: underline;
}

.linkedini {
    grid-area: linkedini;

}

.linkedinp {
    grid-area: linkedinp;
}

.maili {
    grid-area: maili;
}

.mailp {
    grid-area: mailp;
}

.telefonoi {
    grid-area: telefonoi;
}

.telefonop {
    grid-area: telefonop;
}

.footerContacto {
    align-items: center;
    display: grid;
    grid-template-areas: 
    "footerp none"
    "linkedini linkedinp"
    "maili mailp"
    "telefonoi telefonop"
}

.foto {
    grid-area: foto;
    text-align: center;
    image-rendering: auto;
}

.envoltura, .envoltura-acerca, .envoltura-formacion, .envoltura-intereses, .envoltura-experiencia {
    color: white;
    background-color: #46524d;
    margin-top: 1.5em;
    min-height: calc(100vh - 60px - 190px);
    padding: 5px;
}

.linkedinp, .mailp, .telefonop {
    font-weight: bold;
}

.linkedini, .maili, .telefonoi {
    display: flex;
    justify-content: right;
}

.icono {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.fotoCV {
    width: 188px;
    height: 250px;
    border: 3px solid black;
}

@media (min-width: 480px) {
    header, footer, .envoltura, .envoltura-acerca, .envoltura-formacion, .envoltura-intereses, .envoltura-experiencia {
        margin: 5px;
    }

    footer {
        height: 230px;
    }

    .fotoCV {
        width: 301px;
        height: 400px;
    }

    .footerp {
        display: flex;
        justify-content: center;
    }

    .footerContacto {
        gap: 8px;
    }

    a {
        font-size: 20px;
    }
    
    p {
        font-size: 20px;
    }

    .footerp p, h2 {
        font-size: 26px;
    }

    .footerp p {
        text-decoration: underline;
    }
}

@media (min-width: 768px) {    
    .aNav {
        padding: 4px;
        border: solid 2px black;
    }

    .aNav:hover {
        background-color: rgba(0, 0, 0, 0.095);
        color: white;
    }

    .footerContacto {
        display: grid;
        grid-template-areas: 
        "linkedini linkedinp maili mailp"
        ". telefonoi telefonop ."
        ;
        
    }

    .icono {
        height: 50px;
        width: 50px;
    }

    .texto {
        grid-area: texto;
    }

    .foto {
        margin: 5px;
        grid-area: foto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .texto-index {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        "texto foto"
        ;
    }

    .infoPers {
        grid-area: infoPers;
    }

    .objPers {
        grid-area: objPers;
    }

    .infoPersP {
        grid-area: infoPersP;
    }

    .objPersP {
        grid-area: objPersP;
    }

    .texto-acerca p {
        margin-top: 7px;
    }

    .texto-acerca {
        display: grid;
        column-gap: 25px;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: 
        "infoPers objPers"
        "infoPersP objPersP"
        ;
    }

    h1 {
        font-size: 37px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
    }

    .envoltura p, .envoltura a, .envoltura-acerca p, .envoltura-formacion p, .envoltura-experiencia p, .envoltura-intereses p {
        font-size: 25px;
    }

    .footerp p {
        font-size: 33px;
        text-decoration: underline;
    }

    .icono:hover {
        transform: rotate(360deg);
        transition-duration: 1s;
    }

}

@media (min-width: 992px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 110px;
    }

    .navbar a {
        font-size: 27px;
    }

    ul {
        display: flex;
        justify-self: center;
    }
}

@media (min-width: 1024px) {
    .footerp p {
        text-decoration: underline;
    }
    
    .footerContacto {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .linkedini, .maili, .telefonoi {
        display: flex;
        justify-content: right;
    }

    .linkedinp, .mailp {
        margin-right: 50px;
    }

    .texto-index {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-areas:
        "texto foto"
        ;
    }

    .texto-acerca {
        grid-template-columns: 1fr 1fr;
    }

    .fotoCV:hover {
        transform: scale(1.1);
        transition-duration: 2s;
    }

    .aNav:hover {
        transition-duration: 0.5s;
    }

    h1 {
        font-size: 45px;
        
    }

    footer {
        height: 180px;
    }

    .texto {
        margin: 10px;
    }
}

/* gris: 46524d  violetita: B8C7F2 */